.banner-sec{
    width: 100%;
    position: relative;
    z-index: 999;
}
.banner-sec img{
    width: 100%;
}
/* .banner-sec .overlay{
    width: 100%;
    height: auto;
    background-color: rgba(0, 35, 82, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index:999;
}  */